Repository scikit-hep/hist, pull requests merged in 2021-04, with the labels that each got.

#176 feat: Add frequentist coverage intervals module
  docs/changelog.rst
  docs/reference/hist.rst
  src/hist/__init__.py
  src/hist/intervals.py
  src/hist/plot.py
  src/hist/typing.py
  tests/test_intervals.py
Labels: documentation, enhancement

#160 feat: adding profile for COUNT -> MEAN conversion
  src/hist/basehist.py
  tests/test_general.py
  tests/test_named.py
  tests/test_profile.py
Labels: needs changelog

#161 feat: Add ratio plot support through .plot_ratio API
  README.md
  docs/changelog.rst
  src/hist/basehist.py
  src/hist/plot.py
  tests/baseline/test_image_plot_pull.png
  tests/baseline/test_image_plot_ratio_callable.png
  tests/baseline/test_image_plot_ratio_hist.png
  tests/test_plot.py
Labels: enhancement

#190 docs: Revise plot_ratio and plot_pull API examples in user guide
  docs/user-guide/notebooks/Plots.ipynb
Labels: documentation
